@font-face {
  font-family: 'futuramedium';
  src: url('../src/fonts/futura_medium_bt-webfont.woff2') format('woff2'),
       url('../src/fonts/futura_medium_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  width: "100%";
  height: "100%";
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow: none;
  font-family: 'futuramedium' ,sans-serif; 
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boxUnderline{
  border-bottom: 2px solid #276e72;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title{
  margin-left: 100px;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: 800px;
  color: black;
  text-shadow: 1px 1px #87A9AB, 
  2px 2px white, 
  3px 3px white,
  4px 4px white,
  5px 5px #276e72;

}

h1 { 
  color: white; 
  font-size: 3em;
  transition: 0.5s; 
} 

h1:hover { 
  text-shadow: 0 1px 0 white, 0 2px 0 white, 
      0 3px 0 white, 0 4px 0 white, 
      0 5px 0 white, 0 6px 0 white,
      0 7px 0 #276e72, 0 8px 0 #276e72,
      0 20px 30px rgba(0, 0, 0, 0.5); 
} 

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.fullSection{
  height: 100vh;
}

.fullSection.git-section{
  /*background-color: #B8D8BA; Initial green color at the start of project*/
  background-color: white;
}

.education-section{
  background-color: #D4F8FD;
}

.workexp-section{
  background-color: #DAFBED;
}

.photography-section{
  background-color: white;
}
